<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">app/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="DB_CONNECTION" value="mysql_test"/>
        <env name="MAIL_DRIVER" value="smtp" />
        <env name="MAIL_HOST" value="mailtrap.io" />
        <env name="MAIL_PORT" value="2525" />
        <env name="MAIL_USERNAME" value="fbff384bce320a" />
        <env name="MAIL_PASSWORD" value="70361de026ac7a" />
        <env name="MAIL_ENCRYPTION" value="tls" />
        <env name="CONTACT_SENDER" value="contacto@frenchs.com.mx" />
        <env name="CONTACT_APP_NAME" value="Formulario de contacto | French's" />
        <env name="CONTACT_MAIL" value="jesus.garcia@lunave.com" />
        <env name="CONTACT_NAME" value="Jesús" />
        <env name="UPLOAD_APP_NAME" value="Han subido una nueva receta | French's" />
    </php>
</phpunit>
